{% extends "base.html" %}

{% block title %}Envio de Correos{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form class="form-horizontal" method="get" action="/cliente/enviar">{% csrf_token %}
        <div class="panel panel-info">
              <div class="panel-heading">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cor">Correo: </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="cor" id="cor" value={{datos.correo}} disabled>
                    </div>
                    <label class="control-label col-sm-2" for="asunto">Asunto: </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="asunto" id="asunto" required>
                    </div>
                </div>
              </div>
              <div class="panel-body">
                  <textarea class="form-control" rows="6" style="resize: none;" name="mensaje" id ="mensaje"></textarea>
              </div>
              <div class="panel-footer">
                  <input type="submit" class="btn btn-info" value="Enviar">
              </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
