{%extends "base.html"%}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <a class="btn btn-primary" style="font-size: 45px;" href="/cliente/nuevoCliente">Nuevo <span class="glyphicon glyphicon-plus-sign"></span></a>
    <a class="btn btn-warning" style="font-size: 45px;" href="/cliente/mostrarClientes">Clientes <span class="glyphicon glyphicon-search"></span></a>
    <a class="btn btn-success" style="font-size: 45px;" href="/cliente/enviarCorreo">Correo <span class="glyphicon glyphicon-envelope"></span></a>
  </div>
</div>
{% endblock %}
